body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font: Roboto;
}

p {
    margin: 0;
    padding: 0;
}

img {
    border-radius: 20px;
}

button {
    background-color: #3882F6;
    padding: 8px 32px;
    color: #F9FAF8;
    font-weight: 900;
    font-size: 18px;
    border: 0;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

.header,
.footer,
.first-section {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    padding: 16px 300px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.header a {
    color: #F9FAF8;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
}

.right-links {
    display: flex;
    gap: 16px;
}

.first-section {
    padding: 100px 300px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.first-section-left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.first-section-left-side * {
    margin: 0px;
}

.first-section img {
    width: 700px;
    height: 250px;
    object-fit: cover;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.second-section {
    padding: 0px 0px 100px 0px;
}

.information-header {
    padding: 50px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-cards {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #393f47
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.third-section {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 100px 300px 100px 300px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
}

.quote-text-name {
    font-size: 36px;
    text-align: right;
    font-weight: 900;
}

.fourth-section {
    padding: 100px 300px;
}

.call-to-action-panel {
    background-color: #3882F6;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    color: #E5E7EB;
}

.call-to-action-button {
    border: 2px solid #E5E7EB;
    height: 40px;
}

.call-to-action-header {
    font-size: 36px;
    font-weight: 900;
}

.call-to-action-description {
    font-size: 24px;
}

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 24px;
}